.options-section {
    position: sticky;
    top: -1px;
    background: #f7f9ff;
    padding: 10px 0px;
    margin-bottom: 20px;

    z-index: 10;

    & > div > button,
    .btn-group {
        margin-left: 8px;
    }
}
