.widget {
    position: relative;
    background-color: #ffffff;
    border: none;
    -webkit-box-shadow: 0 0 35px 0 rgb(154 161 171 / 15%);
    box-shadow: 0 0 35px 0 rgb(154 161 171 / 15%);
    margin-bottom: 20px;

    padding: 15px;
}

.widget:hover {
    .remove-button {
        display: block;
    }
}

.remove-button {
    position: absolute;
    right: -6px;
    top: -6px;
    display: none;
}
