.widget-greetings {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;

    color: #6c757d;

    b {
        font-size: 24px;
    }

    span {
        font-size: 20px;
    }
}

.remove-button {
    position: absolute;
    right: -6px;
    top: -6px;
    display: none;
}

.widget:hover {
    .remove-button {
        display: block;
    }
}

@media only screen and (max-width: 758px) {
    .widget-greetings {
        .view {
            display: flex;
            flex-direction: column;
        }

        span {
            font-size: 18px;
        }
    }
}
