<div class="widget widget-image">
    <button class="btn btn-sm btn-danger rounded-circle remove-button" *ngIf="edit" (click)="remove()">
        <i class="bi-x-lg"></i>
    </button>

    <div class="edit" *ngIf="edit">
        <picture>
            <img [src]="widget?.url" alt="A beautiful image">
        </picture>

        <input id="input-{{widget.id}}" type="file" accept="images/*" (change)="saveImage($event)">
    </div>

    <div class="view" *ngIf="!edit">
        <picture>
            <img [src]="widget?.url" alt="A beautiful image">
        </picture>
    </div>
</div>