.widget-image {
    display: inline-block;

    .view img {
        max-height: 300px;
        width: auto;
        max-width: 100%;
    }

    .editor {
        display: flex;
        flex-direction: column;

        picture {
            margin-bottom: 10px;
        }

        img {
            max-height: 100px;
            width: auto;
            max-width: 100%;
        }
    }
}
