.widget-text {
    display: flex;
    flex-direction: column;

    span {
        color: #4f575f;
    }

    &.plain {
        background-color: inherit;
        box-shadow: none;
        -webkit-box-shadow: none;
    }
}

.remove-button {
    position: absolute;
    right: -6px;
    top: -6px;
    display: none;
}

.widget:hover {
    .remove-button {
        display: block;
    }
}

:host ::ng-deep .ql-editor {
    max-height: 200px;
}
